@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  font-family: "Battambang", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Headline: just h1 uses Moul */
h1,
.heading-1 {
  /* optional utility class */
  font-family: "Moul", "Khmer OS Muol", serif;
  font-weight: 400;
  font-style: normal;
}
