@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  font-family: "Battambang", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Headline: just h1 uses Moul */
h1,
.heading-1 {
  /* optional utility class */
  font-family: "Moul", "Khmer OS Muol", serif;
  font-weight: 400;
  font-style: normal;
}


/* ===== Custom scrollbar ===== */
.custom-scrollbar {
  scrollbar-width: thin;                 /* Firefox */
  scrollbar-color: #94a3b8 transparent;  /* thumb track */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* slate-400 */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #64748b; /* slate-500 */
}




.auto-hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.auto-hide-scrollbar:hover {
  scrollbar-color: #94a3b8 transparent;
}

.auto-hide-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.auto-hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.auto-hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9999px;
}

.auto-hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
}

.auto-hide-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}
